body{
  margin: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header{
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
  position: fixed;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
  text-decoration: underline;
}

.logo img{
  height: 50px;
  padding-left:10px;
}

nav span{
  display: inline-block;
  padding: 20px 20px;
  color: white;
  text-decoration: underline;
}

a {
  color: white;
}

.img-mission-background {
  background-image: url("../images/img-mission-background.jpg");
  width:1200px ;
  height: 700px;
  margin-top: 0px;
  margin: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-content{
  background-color: black;
  text-align: center;
}

.secondary-background{
  text-align: center;
}

.pictures img{
  width: 300px;
  height: 200px;
  padding: 10px 10px 10px 10px;

}
.pictures{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  text-align: center;
}

.locations{
  margin: auto;
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loc{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.location {
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 0px 20px 15px 20px;
  padding-top: 0;
  text-align: center;
  opacity: 1;
}

.locations-position h2{
  margin-bottom: 15px;
  padding-bottom: 0px;

}
.footer{
  text-align: center;
}

.copyright{
  margin-left: 10px;
  text-align: left;
}
